html, body, h1, h2, h3, p, ol, ul, li, a {
	padding:0 0 1px 0;

	border: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

body {
	background-color: lightgray;
	padding-left: 10%;
	padding-top: 1%;
	padding-right: 10%;
	padding-bottom: 1%;
}

.container {
	background-color: powderblue;
	padding: 1%;
}

header {
	text-align: right;
	padding-bottom: 2px;
	border-bottom: 1px solid darkgrey;
}

header p {
	font-size: 18px;
}

/*li {
 	margin-left: 15px;
}

.summary {
 	margin-bottom: 14px;
}

/*.experience {
	margin-top: 7px;
	margin-bottom: 7px;
}

.experience ul {
	margin-bottom: 14px;
}*/





@media screen and (max-width:700px) {
	.leftover {
		display: flex;
		flex-wrap: wrap;
		margin: 2px;
	}
	.leftoversaverImage {
		width:100%;
	}
	.leftoversaverParagraph {
		width:100%;
	}
}

@media screen and (min-width:701px) {
	.leftoversaver {
		display: flex;
		flex-wrap: wrap;
		margin: 2px;
	}
	.leftoversaverImage {
		width:50%;
	}
	.leftoversaverParagraph {
		width:49%;
		margin-left:1%;
	}
}
